.cart-product {
    @include media($breakpoint-medium) {
        display: flex;
    }
}

.product-container__cart {
    @include media($breakpoint-large) {
        width: calc((200% / 3) - 30px);
    }
}

.cart-product__image {
    @include media($breakpoint-medium) {
        width: 50%;
    }

    img {
        width: 100%;
        vertical-align: middle;
    }
}

.cart-product__info {
    @include media($breakpoint-medium) {
        width: 50%;
        padding-left: 10px;
    }

    a{
        display: inline-block;
    }
}
.cart-layout {
    @include media($breakpoint-large) {
        display: flex;
        justify-content: space-between;
    }
}

.product-container__summary {
    @include media($breakpoint-large) {
        width: calc(100% / 3);
    }

    .button {
        margin-bottom: 15px;
    }
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
        margin-bottom: 0;
        margin-right: 10px;
        font-weight: bold;
    }

    input {
        margin-bottom: 0;
    }
}

input.input__sm {
    width: 75px;
}