<div class="u-container">
{% paginate collection.products by 12 %}
  <h1>{{ collection.title }}</h1>
  <div class="products-container">
    {% for product in collection.products %}
      {% include 'product-tile' %}
    {% else %}
      <p>no matches</p>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
{% endpaginate %}
</div>
